
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=DM+Serif+Text:ital@0;1&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
:root{
    --bg: #1B1C1D;
}

*, html{
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    overflow: hidden ;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    overflow-x: hidden;    
}

#heading{
    height: 85vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #1B1C1D;
}

::-webkit-scrollbar-thumb {
    background-color: crimson;
    border-radius: 5px;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    width: 100dvw;
    align-items: center;
    padding: 0 5rem;
    background-color: transparent;
    backdrop-filter: blur(100px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.397);
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border-top: 0;
    border-bottom: 0;
    text-transform: uppercase;
    align-items: center;
    padding: 1rem ;
    color: crimson;
    background: transparent;
    height: fit-content;
}

nav button{
    padding: 0.5rem;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #DC143C;
    transition: 0.5s ease-in-out;
}


nav button:hover{
    transform: scale(1.1);
}

nav ul {
    font-size: 1.3rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    align-items: center;
}

.fa-bars {
    display: none;
}

nav a {
    color: crimson;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 0.5rem;
    transition: border 0.5s linear;
}

nav a:hover {
    color: whitesmoke;
    border-bottom: 2px solid crimson;
}

nav span {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.fa-bars {
    visibility: hidden;
}

nav p , .fa-explosion {
    font-weight: 500;
    font-family: "Londrina Sketch", sans-serif;
    transition: all 0.4s ease;
    font-size: 2.5rem;
    margin: 0;
}

.fa-magnifying-glass {
    transition: all 0.4s ease;  
    position: absolute;
    font-size: 1.5rem;
    left: 24%;
    top: 37%;
}

nav a:last-child {
    width: 1rem;
}

nav p:hover , nav i:hover {
    color: whitesmoke;
}

input {
    position: relative;
    font-size: 1.5rem;
    background: transparent;
    padding: 1rem;
    padding-left: 2.5rem;
    width: 50vw;
    border: 1px solid #DC143C;
    backdrop-filter: blur(2rem);
    color: white;
    border-radius: 50px;
}

main {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 90;
}

#hero {
    background: linear-gradient(300deg, #dc143c41, #1B1C1D, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100dvw;
    box-sizing: border-box;
    height: 100dvh;
}

@keyframes gradient-animation {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

#hero section {
    position: relative;
    font-weight: 500;
    background-color: transparent;
    gap: 0.1rem;
    display: grid;
    grid-template-rows: 4fr 1fr ;
    grid-template-columns: auto 10vw;
    gap: 5rem;
    height: auto;
    justify-content: space-around;
    align-items: left;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    /* background-image: url(./dandadan-background.jpeg); 
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: border-box; */
    color: crimson;
    padding-left: 1rem;
    /* border-image: fill 0 linear-gradient(#0001, #1B1C1D); */
}

#hero span {
    font-size: 2rem;
}

aside h2 {
    font-size: 2rem;
    color: crimson;
}

aside {
    height: 2.6rem;
    border: solid 1px white;
    border-bottom-left-radius: 20px;
    text-transform: uppercase;
    padding: 1rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-items: center;
    box-sizing: border-box;
    transition: all 500ms ease;
    overflow: hidden;
    width: 20vw;
}

aside:hover {
    height: 65vh;
}

aside a {
    background-color: crimson;
    color: white;
    border-radius: 25px;
    width: auto;
    height: fit-content;
    text-align: center;
    padding: 0.3rem 0.6rem;
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
}

aside a:hover i{
    animation: rotate 1s ease 
}

@keyframes rotate {
    0%{transform: scale(1.3) rotate(20deg);}
    100%{transform: scale(1.3) rotate(-20deg);}
}

.genre{
    animation: slidein 0.5s ease-in;
    opacity: 1;
}

@keyframes slidein {
    0%{opacity: 0.3; transform: translate(-100px);}
    100%{opacity: 1; transform: translate(0);}
}

aside a:hover {
    background-color: white;
    color: crimson;
}

aside a:active {
    background-color: whitesmoke;
    color: crimson;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 7rem;
    font-family: "Young Serif", serif;
}
h2{
    color: whitesmoke;
}
main {
    position: relative;
    margin: 0;
    z-index: 1;
    height: auto;
}

main section {
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 1rem;
    margin-right: 2rem !important;
    padding: 1rem;
    width: 95vw;
    height: fit-content;
    -webkit-box-shadow: 0 0 5px 2px #DC143C;
    -moz-box-shadow: 0 0 5px 2px #DC143C;
    box-shadow: 0 0 5px 2px #DC143C;
}

.genre-list {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 2rem !important;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
    width: 90vw;
}

.item {
    width: 200px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 25px !important;
}

.info {
    width: 200px;
    height: 300px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    padding: 1rem;
    gap: 0.8rem;
    z-index: 1;
    justify-content: space-around;
    /* flex-grow: 1; */
    transition: ease;
    transition-duration: 500ms;
    font-weight: 900;
    background-color: rgba(14, 13, 13, 0.842);
    color: crimson;
    border-radius: 25px !important;
    cursor: pointer;
    box-sizing: border-box;
}

.info i:hover {
    scale: 150%;
    transition: ease;
    transition-duration: 500ms;
    color: white;
    cursor: pointer;
}

.info ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 200px;
    justify-content: flex-start;
}

.info ul:last-child{
    text-overflow: ellipsis;
}

.info span {
    justify-content: center;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.info:hover {
    opacity: 1;
}

.item img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: crimson;
    border-radius: 25px;
    transition: transform 0.5s;
}

.info:hover .item img{
    transform: scale(1.5);
}

div.genre-list p {
    text-align: center;
    color: white;
}

footer {
    position: sticky;
    background: rgba(220, 20, 60, 0.671);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 5rem;
}

footer div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: fit-content;
}

footer a {
    text-decoration: none;
    transition: all 500ms ease;
    color: black;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

footer div:last-child {
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    font-size: 0.8rem;
    opacity: 0.75;
    color: black;
    width: 100vw;
}

#news {
    position: relative;
    left: 0;
    right: 0;
    padding: 0 1rem;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.5rem;
    height: fit-content;
    justify-content: center;
    background-color: #0005;
    box-shadow: none;
}

#news h2 {
    border-bottom: 3px solid crimson;
    width: 20vw;
    height: auto;
}

#news > section {
    width: fit-content;
    background-color: #0005;
    height: fit-content;
    box-shadow: none;
    color: white;
}

#news section:first-child {
    grid-row-start: span 4;
}

#news h3 {
    color: crimson;
    text-decoration: none;
}

#news span {
    font-size: small;
    opacity: 0.7;
}

.news-div {
    padding-top: 0.5rem;
    column-gap: 0.5rem;
    row-gap: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: 1fr;
    justify-content: space-around;
}

.latest-long {
    grid-column: 1 / 4;
}

.latest-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 200px;
    gap: 0.3rem;
}

.long {
    flex-direction: column;
    gap: 0.3rem;
}

.spotlight-iframe {
    display: flex;
    flex-direction: column;
    column-gap: 0.5rem;
}

iframe {
    width: fit-content;
    height: fit-content;
}

#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 8dvh;
    width: 100vw;
    align-items: center;
    gap: 0;
}

#search-bar input {
    padding: 0 1rem;
    height: 8dvh;
    width: 80vw;
    outline: 0;
    border: 3px solid crimson;
    border-radius: 25px !important;
    background-color: #1B1C1D;
    color: white;
    font-size: 1.5rem;
}

#search-bar input:active {
    outline: 0;
    border: 3px solid crimson;
    border-radius: 25px;
    background-color: #1B1C1D;
    color: white;
}

@media (max-width:590px){
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 0.5rem;
    }

    body > div {
        margin: 0;
        padding: 0;
    }

    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    nav {
        padding: 0.5rem;
        justify-content: space-between;
    }

    nav span {
        font-size: 3rem;
        position: absolute;
        left: 5%;
    }

    nav ul {
        font-size: 0.9rem;
        gap: 0.5rem;
    }

    #menu {
        position: absolute;
        top: 35%;
        left: 12%;
        display: flex;
        flex-direction: column;
        height: 1.2rem;
        overflow: hidden;
        background-color: transparent;
        box-sizing: content-box;
        border: none;
        overflow: hidden;
    }

    #menu:active {
        height: 100px;
        width: fit-content;
        box-sizing: content-box;
        background-color: black;
        transition: all 500ms ease;
    }

    #menu a:active {
        color: white;
        background-color: black;
        border: none;
    }

    .fa-bars {
        visibility: visible;
        font-size: 2rem;
    }

    nav p {
        display: none;
    }
    
    nav i:first-child {
        display: inline-block;
        font-size: 1rem;
    }

    nav span {
        font-size: 2rem;
    }

    #hero {
        height: auto;
    }

    #hero section {
        grid-template-rows: 2fr 1fr ;
        width: 100vw;
    }

    #hero span {
        font-size: 1.5rem;
    }

    main {
        height: auto;
    }

    main section {
        width: 82vw;
        margin: 0.5rem;
    }

    .genre-list{
        gap: 0.5rem;
        width: 80vw;
        margin: 0.5rem 0.7rem !important;
    }

    .item {
        width: 100px;
        height: 150px;
    }
    
    .info {
        padding: 0.5rem;
        width: 100px;
        height: 150px;
        gap: 0.3rem;
        visibility: hidden;
    }

    .info ul {
        gap: 0.5rem;
    }

    .info span {
        gap: 0.3rem;
    }

    .item img {
        width: 100px;
        height: 150px;
    }

    aside {
        visibility: hidden;
    }

    footer {
        width: 100vw;
        padding: 1rem 2rem;
    }

    footer div:last-child {
        font-size: 0.3rem;
    }
}